<p>Add a Bookmark below:</p>

<form action="add-bookmark-submit" method="post">
  Title:
  <input type="text" name="title" placeholder="Title">
  Url:
  <input type="text" name="bookmark_url">
  <input type="submit" value="Add">
</form>
